# IDE Specific
.idea/
/.idea.unity5.iml
.projectSettingsUpdater.xml
.modules.xml
.contentModel.xml
/workspace.xml
.httpRequests/
.dataSources/
.dataSources.local.xml

# Node and Yarn
node_modules/
**/npm-debug.log
**/yarn-error.log

# Unity specific
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Assets/AssetStoreTools*
/Assets/EditorModules/ConfigPreset/AuthPreset/ActiveAuthPresetsObjects/*.asset*
/Assets/EditorModules/ConfigPreset/AuthPreset/InactiveAuthPresetsObjects/*.asset*
/Assets/EditorModules/ConfigPreset/AuthPreset/LoginInformationObjects/*.asset*
/[Mm]emoryCaptures/
/Assets/Plugins/Editor/JetBrains*
/Assets/Packages/
/Assets/packages/
/Assets/_Packages/
/Assets/_*/
/Assets/Polaris*/
/Assets/Procedural*/
/Assets/Plugin*/
/Assets/NOT*/
/Assets/Bakery*/
/Assets/Editor/x64/Bakery*/
/Assets/Kamgam*/
/[Uu]motion*/
/Assets/Sprites/Polygon/IconProps/
/Assets/Sprites/Polygon/IconProps*/
/Assets/SmiteSoft*/
/Assets/Feel/
/Assets/HotReload*/
/Packages/com.singularitygroup.hotreload/
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# Visual Studio and Rider
.vs/
/.vsconfig
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*~$*

# Other
**/.DS_Store
dev-app-update.yml
.guideline-*
.item-*
buildScreenshoter/screenshoter*
buildScreenshoter/log*
unity5/Assets/scrpwd.txt*
out
dist
/unity5/testJob
analyze.xml
buildE2ETest/unity/*
buildE2ETest/log/*
/shelf/
/[Rr]esult
.gradle/
ExportedObj/
*.snap
Resources*
*.apk
*.dwlt
*.aab
*.app
*.unitypackage
crashlytics-build.properties

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta


# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/.idea/

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Packages
[Aa]ssets/Packages/
[Aa]ssets/packages/
[Aa]ssets/_Packages/
[Aa]ssets/_*/
[Aa]ssets/Polaris*/
[Aa]ssets/3D Haven*/
[Aa]ssets/Procedural*/
[Aa]ssets/Plugin*/
[Aa]ssets/Distant*/
[Aa]ssets/NOT*/
[Uu][Mm]otion*/
[Aa]ssets/Sprites/Polygon/IconProps/
[Aa]ssets/Sprites/Polygon/IconProps*/
[Aa]ssets/Smitesoft*/
[Aa]ssets/Feel/
[Aa]ssets/RapidIcon/
**/TextMesh*/
/[Rr]ecordings/
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*