.main {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.45);
    align-items: center;
    justify-content: center;
    display: none;
}

.popup {
    height: 60%;
    margin-top: 410px;
    width: 1075px;
}
