.main {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.45);
    align-items: center;
    justify-content: center;
    display: none;
}

.popup {
    height: 55%;
    margin-top: 405px;
    width: 975px;
}
