.gem-score__icon-container {
    align-items: flex-end;
    margin-right: 6px;
}

.gem-score__icon {
    background-image: url('project://database/Assets/Game/Sprites/SVG/diamond.svg?fileID=7388822144124034973&guid=f3703b269aadc3d468e241c2e823526d&type=3#diamond');
}

.gem-score__gem-number-container {
    align-items: flex-start;
    justify-content: center;
    margin-left: 6px;
}
