.gem-score__icon-container {
    align-items: flex-end;
}

.gem-score__icon {
    background-image: resource('Icons/diamond');
}

.gem-score__container {
    align-items: flex-start;
    justify-content: center;
}
