.header-score {
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    height: 125px;
    align-self: center;
    margin-top: 180px;
}

.header-score__separator {
    height: 2px;
    background-color: rgb(240, 248, 255);
    margin-top: 90px;
    width: 750px;
    align-self: center;
}
